.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 2px;
}

.InputElement {
    font: inherit;
    outline: none;
    border: 0px;
    border-radius: 10px;   
    color: #000000;
    background-color: rgb(214, 210, 210);
    padding: 0 1rem;
    width: 100%;
    box-sizing: border-box;
    min-height: 50px;
}

.Invalid {
    border: 1px solid red!important;
    background-color: #FDA49A!important;
}

textarea.InputElement {
    padding: 1rem;
    resize: none;
}